* {
  background-color: #011a1a;
  color: white;
  text-align: center;
  margin: 3% 1%;
  font-family: "Courier Prime", monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;

  p {
    font-size: 2em;
  }

  .throw-btn {
    padding: 1em;
  }
}
