textarea {
  background-color: transparent;
  border: none;
  font-family: "Courier Prime", monospace;
  font-size: 1.25em;
  height: 80%;
  outline: none;
  padding: 2%;
  resize: none;
  width: 80%;
}
